{{#liquid-if addNewMed class="addNew"}}
  {{#el-card class="box-card" as |card|}}
    {{#card.body}}

      {{#el-row type="flex" as |row|}}
        {{#row.el-col span=16}}
          {{el-input class="new_medicine_input" size="mini" value=newItem}}
        {{/row.el-col}}
        {{#row.el-col span=8}}
          {{#el-button-group}}
            {{#el-button
              color="success"
              icon="el-icon-check"
              size="mini"
              action=(action "addNewMedicine")}}
            {{/el-button}}
            {{#el-button
              color="warning"
              icon="el-icon-close"
              size="mini"
              action=(action "cancelAdd")}}
            {{/el-button}}
          {{/el-button-group}}
        {{/row.el-col}}
      {{/el-row}}

      {{#el-row type="flex" as |row|}}
        {{#row.el-col span=16}}
          <select onchange={{action (mut newCatId) value="target.value"}}>
            <option selected="true" disabled="disabled">Select Category</option>
            {{#each categories as |cat|}}
              <option value={{cat.id}}>{{cat.title}}</option>
            {{/each}}
          </select>
        {{/row.el-col}}
      {{/el-row}}



    {{/card.body}}
  {{/el-card}}

{{/liquid-if}}


{{#liquid-if editItem class="addNew"}}
  {{#el-card class="box-card" as |card|}}
    {{#card.body}}

      {{#el-row type="flex" as |row|}}
        {{#row.el-col span=16}}
          {{el-input  class="edit_medicine_input" size="mini" value=editItem.name}}
        {{/row.el-col}}
        {{#row.el-col span=8}}
          {{#el-button-group}}
            {{#el-button
              color="success"
              icon="el-icon-check"
              size="mini"
              action=(action "editMedicineSave" editItem)}}
            {{/el-button}}
            {{#el-button
              color="warning"
              icon="el-icon-close"
              size="mini"
              action=(action "editMedicineCancel" editItem)}}
            {{/el-button}}
          {{/el-button-group}}
        {{/row.el-col}}
      {{/el-row}}

      {{#el-row type="flex" as |row|}}
        {{#row.el-col span=16}}
          <select onchange={{action (mut newCatId) value="target.value"}}>
            {{#each categories as |cat|}}
              <option selected={{eq cat.id editItem.category.id}} value={{cat.id}}>{{cat.title}}</option>
            {{/each}}
          </select>
        {{/row.el-col}}
      {{/el-row}}



    {{/card.body}}
  {{/el-card}}

{{/liquid-if}}


{{#each medicines as | med |}}
  {{#el-card class="box-card" as |card|}}
    {{#card.body}}
      {{#el-row type="flex" as |row|}}
        {{#row.el-col span=19}}
          {{#link-to "inventory" med.id}}
            {{med.name}} | {{med.category.title}}
          {{/link-to }}
        {{/row.el-col}}
        {{#row.el-col span=5}}
          {{#el-button
            color="info"
            icon="el-icon-edit"
            circle=true
            size="mini"
            action=(action "editMedicine" med)}}
          {{/el-button}}

          {{#el-button
            color="danger"
            icon="el-icon-delete"
            circle=true
            size="mini"
            action=(action "deleteMedicine" med)}}
          {{/el-button}}

        {{/row.el-col}}
      {{/el-row}}
    {{/card.body}}
  {{/el-card}}
{{/each}}